{% extends "base.html.twig" %}

{% block header %}

	<nav>
		<ul>
			<li><a href="{{ path('app_comment_index') }}">Commentaires</a></li>
			<li><a href="{{ path('app_post_index') }}">Post</a></li>
            <li><a href="{{ path('app_category_index') }}">Categories</a></li>
			<li><a href="{{ path('accueil') }}">User</a></li>
		</ul>
	</nav>

{% endblock %}